.foto p{
    font-weight: bold;
    text-align: center;
}

.foto {
	border: 10px solid #1abc9c;
	max-width: 290px;
	height: 330px;
	margin: 5px;
	overflow: hidden;
	float:left;
}

.foto img{
	width: 100%;
	height: 100%;
}


.imagen-texto{
	max-width: 100%;
	height: 500px;
	margin:15px;
	border: 10px solid #F0776C;
	overflow: hidden;
    -webkit-box-shadow: 5px 5px 5px #111;
    -moz-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
}

div.imagen{
	width: 100%;
	height: 500px/*547px*/;
	overflow: hidden;
}

.pic{
	max-width: 100%;
	height: 100%;
}

div.texto-emergente{
	height: 0px;
	width: 100%;
	background-color: #Dbdbdb;
}

.imagen-texto:hover div.imagen{
	height: 400px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.imagen-texto:hover div.texto-emergente{
	height: 100px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.imagen-texto:hover div.pic{
	max-width: 100%;
	height: auto;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; 
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sub-contenido {
	max-width: 960px;
	margin: auto;
	overflow: hidden;
}

.sub-contenido p{
	text-align: left;
}

.sub-contenido img{
	margin-right: 6px;
}

.sub-contenido h4{
	text-align: center;
	font-size:2em;
}

.contenido{
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.separador {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0));

}

.elframe{
	width:90%;
	height:700px;
	margin-left: 5%;
	margin-right: 5%;
}

.top{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	clear: both;


}

.cuerpo{
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	background-color: white;
	height: 100%;
	clear: both;
	/*-webkit-box-shadow: 0px 0px 42px 5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 42px 5px rgba(0,0,0,1);
	box-shadow: 0px 0px 42px 5px rgba(0,0,0,1);*/
	-webkit-box-shadow: 0px -15px 54px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -15px 54px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -15px 54px 0px rgba(0,0,0,0.75);


}

.titulo{
	margin: 0 15px 0 15px;
	/*height: 50px;*/
	text-align: center;
	border: 10px solid white;
	background-color: white;

}

.wrapper{
	width:100%;
	background-color: #3498DB;
	float: left;
}

nav a{
	text-decoration: #000
}

/* link sin visitar */
a:link {
    color: #0066FF;
    text-decoration: none;
}

/* link visitado */
a:visited {
    text-decoration: none;
}

/* link hover */
a:hover {
    color: #FF6600;
    text-decoration: none;
}

/* link seleccionado */
a:active {
    color: #FF6600;
    text-decoration: none;
}

footer{
	background-color: #1C1C1C;
	width: 100%;
	float: left;
	text-align: center;
	/*border-top: 10px solid #3498db;*/
	padding-top:10px;
}

footer h2,footer p, footer li, footer hr {
	color: #D6D6D6;
	list-style-type: none;
}

footer hr {
    display: block;
    max-width: 1280px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

body{
  margin: 0px;
  padding: 0px;
  background: #191919;
  font-family: 'Lato', sans-serif;
}

img{
	height: auto;
	max-width: 100%;
	overflow: hidden;
}

nav{
  float: left;  
  clear: both;
  width: 100%;
  /*height: 110px;*/ 
  margin: 0px;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;

}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li{
  float: left; 
  width: 20%;
  background: #FFFFFF;
}

nav li a{
  display: block; 
  width: 100%; 
  padding: 20px; 
  border-top: 5px solid; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;  
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box;
}
	
nav li a:hover{ border-bottom: 0px; color: #fff;}
nav li:first-child a{ border-top: 10px solid #3498db; }
nav li:nth-child(2) a{ border-top: 10px solid #3498db; }
nav li:nth-child(3) a{ border-top: 10px solid #ffd071; }
nav li:nth-child(4) a{ border-top: 10px solid #f0776c; }
nav li:last-child a{ border-top: 10px solid #1abc9c; }

nav li a:after { 
  content: "";
  height: 100%;
  left: 0; 
  top: 0; 
  width: 0%;  
  position: absolute; 
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}

nav li a:hover:after{ width: 100%; }
nav li:first-child a:after{ background: #3498db; }
nav li:nth-child(2) a:after{ background: #3498db; }
nav li:nth-child(3) a:after{ background: #ffd071; }
nav li:nth-child(4) a:after{ background: #f0776c; }
nav li:last-child a:after{ background: #1abc9c; }



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
